<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrudBox: Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">

    <div class="d-flex justify-content-between align-items-center my-4">
        <h1>CrudBOX</h1>
        <h1>Productos para el cliente {{ cliente }}</h1>
    </div>
    
    {% if request.args.get('mensaje') %}
    <p>{{ request.args.get('mensaje') }}</p>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger text-center">{{ error }}</div>
    {% endif %}

    <div class="table-container">
        {% if productos %}
        <form method="post">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id producto</th>
                        <th>Nombre</th>
                        <th>Tipo de producto</th>
                        <th>Precio unitario</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto[0] }}</td>
                        <td>{{ producto[1] }}</td>
                        <td>{{ producto[2] }}</td>
                        <td>{{ producto[3] }}</td>
                        <td>
                            <input type="number" id="cantidad" name="cantidad_{{ producto[0] }}" 
                            required class="form-control" value="0" min="0">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Botón de compra dentro del formulario -->
            <button type="submit" class="btn btn-primary btn-block">Realizar compra</button>
        </form>
        {% else %}
        <div class="alert alert-info text-center">No hay productos en este momento.</div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>
